# http://editorconfig.org
root = true

[*]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = 120

[*.{kt,kts}]
ktlint_code_style = intellij_idea

ij_kotlin_imports_layout = *, jakarta.**, java.**, javax.**, kotlin.**, com.anycommunity.**, ^

ij_kotlin_allow_trailing_comma_on_call_site = true
ij_kotlin_allow_trailing_comma = true

indent_size = 4

ktlint_standard_package-name = disabled
ktlint_standard_string-template-indent = disabled
ktlint_standard_multiline-expression-wrapping = disabled
ktlint_standard_class-signature = disabled
