# http://editorconfig.org
root = true

[*]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = 120

[*.{kt,kts}]
ij_kotlin_code_style_defaults = KOTLIN_OFFICIAL

ij_kotlin_imports_layout = *, jakarta.**, java.**, javax.**, kotlin.**, com.jinuk.toy.**, ^

ij_kotlin_allow_trailing_comma_on_call_site = true
ij_kotlin_allow_trailing_comma = true

indent_size = 4
